*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

rest-assured/*.iml

# User-specific stuff:
rest-assured/.idea/workspace.xml
rest-assured/.idea/tasks.xml
rest-assured/.idea/dictionaries
rest-assured/.idea/shelf

# Sensitive or high-churn files:
rest-assured/.idea/dataSources.ids
rest-assured/.idea/dataSources.xml
rest-assured/.idea/sqlDataSources.xml
rest-assured/.idea/dynamic.xml
rest-assured/.idea/uiDesigner.xml

## Plugin-specific files:

# IntelliJ
/out/

# Maven
log/
target/


rest-assured/.idea/
